@model IEnumerable<GameReview.Models.Review>



    @{Html.RenderAction("UserReviewPartial", "Reviews", new { id = ViewBag.UserReviewID,  gameID = ViewBag.GameID}); }



    @foreach (var item in Model)
    {
        <div class="col-md-4">
        @if (item.Recommended)
        {
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(modelItem => item.UserName)</h3>
                <h3 class="panel-title text-right">@Html.DisplayFor(modelItem => item.DateCreated)</h3>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            <div class="panel-footer">
                Was this review Helpful?
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up"></span>@item.HelpfulCount
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up"></span>@item.NotHelpfulCount
                </button>
            </div>
        </div>
        }
        else
        {
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(modelItem => item.UserName)</h3>
                <h3 class="panel-title text-right">@Html.DisplayFor(modelItem => item.DateCreated)</h3>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            <div class="panel-footer">
                Was this review Helpful?
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up"></span>@item.HelpfulCount
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up"></span>@item.NotHelpfulCount
                </button>
            </div>
        </div>
        }
    </div>
    }

<script>
    $(document).ready(function () {

    });
</script>
