@using PagedList.Mvc;
@model PagedList.IPagedList<GameReview.Models.Review>
<link href="~/Content/PagedList.css" rel="stylesheet" />
    

@{
    ViewBag.Title = "Reviews";
}

<h2>All Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.UserNameSort, currentFilter = ViewBag.CurrentFilter })               
            </th>
            <th>
                @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.DateSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Recommended
            </th>
            <th>
                @Html.ActionLink("Helpful Count", "Index", new { sortOrder = ViewBag.HelpSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Not Helpful Count", "Index", new { sortOrder = ViewBag.NotHelpSort, currentFilter = ViewBag.CurrentFilter })
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recommended)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HelpfulCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotHelpfulCount)
                </td>                
                <td>
                    <a href="#@item.ID" class="fancyContent">Content</a>
                    <div style="display:none"><div id="@item.ID"><textarea readonly cols="100" rows="8">@Html.DisplayFor(modelItem => item.Content)</textarea></div></div> |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<script>
    $(document).ready(function () {
        $('.fancyContent').fancybox();
    });
</script>