@model GameReview.Models.UserViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron col-md-12">
    <h1>@Html.DisplayFor(model => model.UserName)</h1>

</div>

<div class="row">
    @if (ViewBag.Reviews != null)
    {
        <div class="col-md-4 col-md-offset-1 well">
            <h2>Most Recent Review</h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewBag.Reviews.UserName</h3>
                    <h3 class="panel-title text-right">@ViewBag.Reviews.DateCreated</h3>
                </div>
                <div class="panel-body">
                    @ViewBag.Reviews.Content
                </div>
                <div class="panel-footer">
                    Was this review Helpful?
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span>@ViewBag.Reviews.HelpfulCount
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span>@ViewBag.Reviews.NotHelpfulCount
                    </button>
                    @Html.ActionLink("View All", "ReviewsByUser", null, new { @class = "btn btn-default pull-right" })
                </div>

            </div>
        </div>
    }
    @if (ViewBag.Favorites != null)
    {
        <div class="col-md-4 col-md-offset-1 well">
            <h2>Top Favorites</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Game Title
                        </th>
                        <th>
                            Platform
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in ViewBag.Favorites)
                        {
                            if (i == 4)
                            {
                                break;
                            }
                            <tr>
                                <td>
                                    @item.GameTitle
                                </td>
                                <td>
                                    @item.Platform
                                </td>
                                <td>
                                    @Html.ActionLink("Game Page", "Details", "Games", new { id = item.ApiID }, null)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
                        }

</div>
