@model GameReview.Models.Game

@{
    ViewBag.Title = "Details";
}
<div class="jumbotron page-header col-md-10 col-md-offset-1">
    <h1>@Html.DisplayFor(model => model.GameTitle) <small>@Html.DisplayFor(model => model.Platform)</small></h1>
    @{ Html.RenderAction("FavoriteButton", new { id = Model.ID });}
</div>


<div class="row">
    <div class="panel col-md-10 col-md-offset-1">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#" id="detailView">Details</a></li>
                @if (!Model.Youtube.IsEmpty()) { <li role="presentation"><a href="#" id="trailerView">Trailer</a></li> }
                <li role="presentation"><a href="#" id="mediaView">Media<span class="badge">@Model.ArtCollection.Count</span></a></li>
                <li role="presentation"><a href="#" id="reviewsView">Reviews<span class="badge">@Model.Reviews.Count</span></a></li>
            </ul>
        </div>
        <div class="panel-body well" id="gameViewContent">
        </div>
    </div>
</div>

    @*<img src="http://thegamesdb.net/banners/"@Model.ArtCollection.ToList()[0].URL alt="Alternate Text" />*@


<script>
    $(document).ready(function () {
        var $navLinks = $(".panel-heading ul li a");
        $("#gameViewContent").load('@(Url.Action("DetailSubView","Games", new { id = Model.ID },Request.Url.Scheme))?viewLink=detailView');

        $navLinks.click(function (event) {
            event.preventDefault();
            $navLinks.parent('li').removeClass('active');
            if ($(this).attr('id') == "reviewsView") {
                $("#gameViewContent").load('@(Url.Action("IndexByGame", "Reviews",new { id = Model.ID }, Request.Url.Scheme ))');
            }
            else {
                $("#gameViewContent").load('@(Url.Action("DetailSubView","Games", new { id = Model.ID },Request.Url.Scheme))?viewLink=' + $(this).attr('id'));
            }
            $(this).parent('li').addClass('active');
    });
    });
</script>
