@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game Lib</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        @if (Request.IsAuthenticated)
        {
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#menu-toggle" class="btn btn-sm btn-default navbar-btn" id="menu-toggle">Menu</a>
                        Insert User Short Info, ie number of favorites, number of reviews
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav"></ul>

                    </div>

                </div>
            </div>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">@Html.ActionLink("Game db", "Index", "Home", new { area = "" })</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Profile", "Index", "Home")</li>
                <li>@Html.ActionLink("My Favorites", "Index", "Home")</li>
                <li>@Html.ActionLink("Recent Reviews", "Index", "Home")</li>
            </ul>
        </div>
        }
        <div id="page-content-wrapper">
            <div class="container-fluid body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Game Lib</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*Menu Toggle Script*@
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
