@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Admin Functions<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Users", "Index", "Account")</li>
                    <li>@Html.ActionLink("Roles", "Index", "IdentityRole")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Moderator Functions<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Reviews", "Index", "Moderator")</li>
                </ul>
            </li>
        }
        else if (User.IsInRole("Moderator"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Moderator Functions<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Reviews", "Index", "Moderator")</li>
                </ul>
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="margin-right:5px">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-sm btn-default navbar-btn"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-sm btn-default navbar-btn" })</li>
    </ul>
}
